.biggerMessageHeader {
  font-size: 1.5em;
}

.biggerMessageText {
  font-size: 2em;
}

#largeText {
  width: 1.25rem;
  height: 1.25rem;
}

#largeTextLabel {
  font-size: 20px;
}

.form-check {
  margin-left: 10px;
  margin-top: 5px;
  text-justify: center;
  border-radius: 5px;
  padding: 10px;
}