@import "~bootstrap/scss/bootstrap";
@import './themes.scss';

.app-container {
  @include themify($themes) {
    background-color: themed('backgroundColor');
    height: 100%;
    font-family: themed('fontType');
    font-size: themed('fontSize');
  }
  .navbar {
    @include themify($themes) {
    background-color: themed('barBackground');
    color: themed('barText');
    box-shadow: themed('shadowBox');
    }
  }
  .sampleBox {
    @include themify($themes) {
      box-shadow: themed('shadowBox');
      background-color: themed('messageBackground');
      border: 1px solid black;
    }
  }
  button {
    @include themify($themes) {
      background-color: themed('buttonBackground');
      color: themed('buttonText');
    }
  }
  #chatBox {
    @include themify($themes) {
      background-color: themed('backgroundColor');
      color: themed('messageTextColor');
      height: 100%;
      min-height: 100vh;
    }
  }
  .messageContainer {
    @include themify($themes) {
      background-color: themed('messageBackground');
      color: themed('messageTextColor');
      box-shadow: themed('shadowBox');
      margin: 10px;
    }
  }
  .newMessageContainer {
    @include themify($themes) {
      background-color: themed('messageBackground');
      color: themed('messageTextColor');
      box-shadow: themed('shadowBox');
    }
  }
  input {
    @include themify($themes) {
      background-color: themed('inputBackground');
    }
  }
  input::placeholder {
    @include themify($themes) {
      background-color: themed('inputBackground');
      color: themed('inputPlaceholderText');
      padding: 0;
    }
  }
  .modal-body {
    @include themify($themes) {
      background-color: themed('inputBackground');
    }
  }
  .modal-header {
    @include themify($themes) {
      background-color: themed('inputBackground');
    }
  }
  .modal-footer {
    @include themify($themes) {
      background-color: themed('inputBackground');
    }
  }
  .largeTextCheck {
    @include themify($themes) {
      background-color: themed('buttonBackground');
      color: themed('buttonText');
    }
  }
  .timestamp {
    @include themify($themes) {
      color: themed('messageTimestampColor');
      font-style: italic;
    }
  }
  .checkSet {
    margin: 10px;
  }

}