// #chatBox{
//   background-color:ghostwhite;
//   margin: 50px;
//   padding: 50px;
// }

li {
  list-style-type: none;
  padding: 50px;
}

li:nth-child(even){
  background-color: blue;
  margin-top: 75px;

}