#chatBox{
  background-color:ghostwhite;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.messageContainer {
  margin-left: 5px;
  max-width: 300px;
  min-width: 80px;
  padding: 8px;
  background-color: lightskyblue;
  color: white;
  border-radius: 18px;
}

.closebtn {
  top: 2px;
  right: 15px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  float: right;
}

.closebtn:hover {
  color: lightgrey;
}