#chatBox{
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.messageContainer {
  margin-left: 5px;
  max-width: 500px;
  min-width: 80px;
  padding: 8px;
  border-radius: 18px;
}

.closebtn {
  top: 2px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  float: right;
}
