
.newMessageContainer {
  max-width: 300px;
  min-width: 20px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: 5px;
  padding: 8px;
  border-radius: 18px;
}

.closebtn {
  top: 2px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
  float: right;
}
